<div class="prose dark:prose-invert max-w-3xl mx-auto">
  <h2>About Me</h2>
  <p>
    I am a Ruby on Rails developer with 3 years of experience. Skilled in backend systems, API integrations,
    authentication, and deploying scalable apps on AWS EC2 using Capistrano. Also familiar with frontend
    development using HTML, CSS, Bootstrap, and TailwindCSS.
  </p>
  <p>
    I enjoy solving real-world problems and have worked on platforms ranging from trading systems
    to gaming and HR management tools.
  </p>
</div>
